<div class="container mt-5">
    <!--Show error message-->
    <div *ngIf="errormsg" class="alert alert-danger col-lg-6 mt-2" role="alert">
        <strong>{{errormsg}}</strong>
      </div>
  <!--Show data insert message-->
      <div *ngIf="successmsg" class="alert alert-success col-lg-6 mt-2" role="alert">
        <strong>{{successmsg}}</strong>
      </div>
  <form [formGroup]="userForm">

    <div class="col-lg-6 mt-2">
      <input type="text" class="form-control" formControlName="firstname" placeholder="Enter Firstname">
    </div>

    <div class="col-lg-6 mt-2">
      <input type="text" class="form-control" formControlName="lastname" placeholder="Enter lastname">
    </div>

    <div class="col-lg-6 mt-2">
      <input type="text" class="form-control" formControlName="email" placeholder="Enter email">
    </div>
    
    <div class="col-lg-6 mt-2">
        <input type="text" class="form-control" formControlName="address" placeholder="Enter address">
      </div>

    <div class="col-lg-6 mt-2" *ngIf="!getparamid" (click) ="userSubmit()" >
        <button type="text" class="btn btn-primary btn-sm" >Create</button>
    </div>
    
    <div class="col-lg-6 mt-2" *ngIf="getparamid" (click) ="userUpdate()">
      <button type="text" class="btn btn-dark btn-sm" >Update</button>
  </div>
  </form>

</div>
